/* @keyframes typing {
        0% {
          width: 0;
        }
        100% {
          width: 930px;
        }
      } */
.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #030291;
  overflow: hidden;
}
.join-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.join-comment {
  font-size: 5rem;
  color: white;
  width: 930px;
  /* 타이핑 애니메이션 추가 */
}
.join-form {
  width: 930px;
  padding: 50px 0 0 280px;
}
#join-input {
  width: 400px;
  border: none;
  border-bottom: 3px solid white;
  font-size: 3rem;
  font-family: "window98";
  color: white;
  background-color: #030291;
}
#join-input:focus {
  outline: none;
}
.join-copy-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 780px;
}
.join-copy {
  width: 780px;
  color: white;
  font-size: 2rem;
}
.join-copy-bottom {
  padding: 5px 0px 0 70px;
}
