@import "./reset.css";
@import "./join.css";
@import "./main.css";
@import "./window.css";

@font-face {
  src: url("../font/W95FA.otf");
  font-family: "window98";
}
body {
  font-family: "window98";
}
